*{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header{
    background-color: #2093f6;
}

header .logo img{
    display: block;
    margin: 0 auto;
    height: 60px;
}

header .logo h1{
    text-align: center;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
}

header .logo img,
header .logo h1{
    padding: 10px 0;
}

main section.hero{
    background-color: #2093f6;
}

main section.hero .tagline{
    color: white;
    font-size: 1.8em;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    line-height: 1.5em;
}

main section.hero .bg{
    height: 50vh;
    background: url('phone2.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

main section.games {
    padding: 21px;
    margin-top: 21px;   
}

main section.games ul{
    list-style: none;
}

main section.games ul li a{
    text-decoration: none;
    color: black;

    display: flex; 
    flex-direction: row;
    gap: 21px;
    margin-top: 30px;
}

main section.games ul li a .icon{
    grid-row: span 2;
}

main section.games ul li a .icon .icon-box{
    background-color: #efefef;
    width: 90px;
    height: 90px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.games ul li a .icon .icon-box img{
    width: 60px;
}

main section.games ul li a .details .description{
    margin-top: 12px;
    line-height: 1.5em;
}



